<nav class="sidebar">
  <div class="text-center">
      <img src="../../assets/img/admin.png" class ="img-thumbnail" alt="..." width="35%">
  </div>
  <a href="../admin/admin_dashboard.html" class="active">Dashboard</a>
  <a href="../admin/admin_schedule.html">Schedule</a>
  <a href="">Tickets</a>
  <a href="../../index.html">Log out</a>
</nav>

<main class="content">
  <h1 class="display-3 text-center">Admin Panel</h1>
  <p>Welcome to Quintessa Trip</p>
  <h5 class="display-4">Head Office</h5>
  <address>
      <img src="../../assets/img/palace.jpg" alt="" class="img-thumbnail">
      <strong>Quintessa.inc</strong><br>
      76A, Petropavlovsk Palace,<br>
      Stalingrad beach rd,<br>
      Moskva.<br>
  </address>
  <address>
      <strong>Contact Details</strong>
      <p>Contact number - (123) 489-2709 <small>Email :</small> <a href="">petropavlovsk@ussr.com</a></p>
  </address>
  <section id="card-container" class="row">
  </section>
</main>
<script src="../../../assets/service/DynamicElements.js"></script>
